<div class = "container"> 
    <div class = "card" >
        <div class="text-center">
            <h1>Marvellous Restaurent Portal Sign Up</h1>
            <h4>You can Sign Up here!</h4>
        </div>
        <form [formGroup] = "signupForm" (ngSubmit) = "signUp()">
            <div>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label class="form-lable">Email</mat-label>
                    <input [class.is-invalid]="signupForm.get('email')?.invalid" formControlName ="email" type = "email" class="form-control" matInput placeholder="someone@example.com"> 
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label class="form-lable">Name</mat-label>
                    <input [class.is-invalid]="signupForm.get('name')?.invalid" formControlName ="name" type = "text" class="form-control" matInput placeholder="Fill form field"> 
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label class="form-lable">Phone</mat-label>
                    <input [class.is-invalid]="signupForm.get('mobile')?.invalid" formControlName ="mobile" type = "number" class="form-control" matInput placeholder="999-999-9999"> 
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label class="form-lable">Password</mat-label>
                    <input [class.is-invalid]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" formControlName ="password" type = "password" class="form-control" matInput placeholder="Enter your password">
                </mat-form-field>
            </div>
            
            <button type="submit" mat-button color="primary">Sign Up</button>
            <a style="color: #424242; margin-top: 10px;" routerLink="/login">Already User? Click to Login</a>

        </form>
        
    </div>  
</div>





